/* When someone enters your game, you only want them to see the opening and the option buttons. The code below will use the display property to hide certain parts of the story. Remove the comments from the code below when you're ready for that step!*/
/* https://cssgridgarden.com/ USE THIS FOR HELP ON GRID
.option-one-screen, 
.option-two-screen, 
.option-one-end, 
.option-two-end  {
   display:none;
}
*/


/* Feel free to change any of the styling below!*/
html,
body {
    margin: 0;
    padding: 0;
}

/* Style the body with a background color or image if desired */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
    padding: 20px;
    color:white
}

.inventory{
    float:left;
    margin-left:20px
}
.stats{
    float:right;
    margin-right: 20px

}

/* Style the story opening container */
.story-opening {
    background-color: black;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the story image */
.story-opening img {
    max-width: 50%;
    height: auto;
    max-height: 500px;
    margin-bottom: 10px;
}

/* Style the story opening message */
.story-opening h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
/* Style the buttons container */
.buttons {
    width: 50%;
    margin: 20px;
    display: grid;
    margin-left: 25%
}
.inactive{background-color: black; color: black}
/* Style the option buttons */
button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
.option-one{grid-area: 1/2/1/2; width: 150px}
.option-two{grid-area: 2/1/2/1; width: 150px}
.option-three{grid-area: 2/3/2/3; width: 150px}
.option-four{grid-area: 3/2/3/2; width: 150px}

